{% extends "tracker_project/tracker_project_base.html" %}

{% load staticfiles %}

{% block tracker_title %} - Home{% endblock %}

{% block tracker_project_content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Incidents and Areas of Interest</h3>
        </div>
        <div class="panel-body">
            <div id="map-canvas" class="home-map-canvas center-block"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title alert-modal-title" id="alertModalTitle">New or updated Incident</span>
            </div>
            <div class="modal-body" id="alertModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script id="info-window-contents-template" type="text/x-handlebars-template">
    {% verbatim %}
    <dl>
        <dd></dd>
        <dt>Model</dt>
        <dd>{{model}}</dd>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Severity</dt>
        <dd><span class="label label-default">{{severity}}</span></dd>
    </dl>
    <a href="{{url}}" class="btn btn-default btn-sm btn-block">Click here for details</a>
    {% endverbatim %}
</script>
<script id="alert-modal-body-template" type="text/x-handlebars-template">
    {% verbatim %}
    <div>
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;Incident: <a class="alert-link" href="{{notification.feature.properties.url}}">{{notification.feature.properties.name}}</a>
            <span class=label label-default pull-right>{{notification.feature.properties.severity}}</span>
        </div>
        <h4>Areas of Interest:</h4>
        <ul class="list-group">
            {{#each notification.areas_of_interest}}
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;<a href="{{this.url}}">{{this.name}}</a>
                    <span class="label label-default pull-right">{{this.severity}}</span>
                </li>
            {{/each}}
        </ul>
    </div>
    {% endverbatim %}
</script>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var incidentFeatureCollectionUrl = "{% url 'tracker:incident-feature-collection' %}";
        var areaOfInterestFeatureCollectionUrl = "{% url 'tracker:area-of-interest-feature-collection' %}";
        var socketIoUrl = '{{ socket_io_url }}';
    </script>
    <script type="text/javascript" src="{% static 'handlebars/handlebars.min.js' %}"></script>
    <script src="http://localhost:8002/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing"></script>
    <script type="text/javascript" src="{% static 'js/geojson_utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}