{% extends "tracker_project/tracker_project_base.html" %}

{% load staticfiles %}

{% block tracker_title %} - Home{% endblock %}

{% block tracker_project_content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Incidents and Areas of Interest</h3>
        </div>
        <div class="panel-body">
            <div id="map-canvas" class="home-map-canvas center-block"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title alert-modal-title" id="alertModalTitle">New or updated Incident</span>
            </div>
            <div class="modal-body" id="alertModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'socket.io-client/dist/socket.io.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing"></script>
    <script type="text/javascript" src="{% static 'js/geojson_utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript">
        var incidentFeatureCollectionUrl = "{% url 'tracker:incident-feature-collection' %}";
        var areaOfInterestFeatureCollectionUrl = "{% url 'tracker:area-of-interest-feature-collection' %}";
    </script>
{% endblock %}