.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.incident-form-map-canvas {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
}

.home-map-canvas {
    width: 100%;
    height: 500px;
}

.area-of-interest-form-map-canvas {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
}

.incident-detail-img {
    margin-top: 10px;
}

.area-of-interest-detail-img {
    margin-top: 10px;
}

.alert-modal-title {
    font-size: large;
    color: red;
}

.info-window-panel {
    min-width: 200px;
}

.report-incident-map-canvas {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}