.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.incident-form-map-canvas {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
}