{% extends "tracker_project/tracker_project_base.html" %}

{% load staticfiles %}

{% block tracker_title %} - Areas of Interest{% endblock %}

{% block tracker_project_content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <a class="btn btn-default btn-xs pull-right" href="#" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Area of Interest</a>
            <h3 class="panel-title">Areas of Interest</h3></div>
        <div class="panel-body"></div>
    </div>
</div>
{% endblock %}