{% extends "tracker_project/tracker_project_base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block tracker_title %} - Area of Interest{% endblock %}

{% block tracker_project_content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Area of Interest</h3>
        </div>
        <div class="panel-body">
            {{ form.errors }}
            <div class="alert {% if form.polygon_geojson.errors %}alert-danger{% else %}alert-info{% endif %}">Draw a polygon on the map below to define an area of interest.</div>
            <div id="map-canvas" class="area-of-interest-form-map-canvas center-block"></div>
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing"></script>
    <script type="text/javascript" src="{% static 'js/geojson_utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/areaofinterest_form.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            initializeMap();
        });
    </script>
{% endblock %}